body {
    font-family: 'Cairo', sans-serif;
}


#preloader {
    background-color: red;
}

#main-nav {
    background-color: #ee1a23 !important;
}

.navbar-light .navbar-nav .nav-link {
    color:
        rgba(255, 154, 154, 0.5);
}

.nav-item {
    .nav-link {
        color: white !important;
        font-weight: bold;
        font-size: 18px;

    }
}

@media only screen and (min-width: 768px) {

    .navbar-toggler {
        background-color: #ffffc3;
        opacity: 0.5;
    }

    .navbar-light {
        .navbar-toggler {
            color: rgba(255, 255, 255, .5);
            border-color: rgba(255, 255, 255, .1);
        }
    }

    .main-news-card {
        .card-img-overlay {
            p {
                position: absolute !important;
                bottom: 15px;
                right: 15px;
            }

        }

    }

    .card {
        .card-label {

            position: absolute;
            top: -10px;
            right: 0;

            height: 50px;
            width: 150px;
            background-color: red;
            z-index: 9999;

            img {
                position: relative;
                top: -15px;
                right: 0;
                float: right;
                margin-left: 5px;
            }
        }
    }

    #main-article {
        .row {
            .card {
                background-color: #fee;
            }
        }

    }

    #main-footer {
        font-size: 14px;
    }

    #article {
        .card-header:first-child {
            background-color: #F78D73;
        }
    }