<!DOCTYPE html>
<html>

<head>
    <title>اختبار و مقياس بيك للاكتئاب</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://surveyjs.azureedge.net/1.1.24/survey.jquery.js"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css"> -->
    <link href="https://surveyjs.azureedge.net/1.1.24/modern.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="./index.css">

</head>

<body dir="rtl">
    {% csrf_token %}
    <style>
        .sv-selectbase__label {
            white-space: unset;
        }

        .sv-progress__text,
        .sv-footer__next-btn {
            display: none;
        }
    </style>

    <div id="surveyContainer" class="container"></div>



    <script type="text/javascript" src="./index.js"></script>

</body>
<script>
    Survey
        .StylesManager
        .applyTheme("modern");

    function getResult(params) {
        var total = parseInt(params)
        console.log(total.toString())
        if (total <= 9) {
            return "لا يوجد اكتئاب";
        }
        else if (total <= 15) {
            return "اكتئاب بسيط"
        }
        else if (total <= 23) {
            return "اكتئاب متوسط"
        }
        else if (total <= 36) {
            return "اكتئاب شديد"
        }
        else if (total >= 37) {
            return "اكتئاب شديد جداً"
        }
        else {
            return "غير معرف"
        }

    }

    Survey
        .FunctionFactory
        .Instance
        .register("getResult", getResult);

    var surveyJSON = {
        "locale": "ar",
        "title": {
            "ar": "اختبار بيك "
        },
        "completedHtml": {
            "ar": "النتيجة: {res}"
        },
        "pages": [
            {

                "name": "p",
                "elements": [

                    {
                        "type": "text",
                        "name": "age",
                        "title": {
                            "ar": "السن"
                        },
                        "isRequired": true,
                        "inputType": "number",
                        "maxLength": 100
                    },
                    {
                        "type": "radiogroup",
                        "name": "gender",
                        "title": {
                            "ar": " النوع"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": "ذكر"
                            },
                            {
                                "value": "1",
                                "text": "أنثى"
                            },

                        ]
                    }
                ]
            },
            {
                "name": "p1",
                "elements": [

                    {
                        "type": "radiogroup",
                        "name": "q1",
                        "title": {
                            "ar": "الحزن:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": "لا أشعر بالحزن"
                            },
                            {
                                "value": "1",
                                "text": "أشعر بالحزن والكآبة"
                            },
                            {
                                "value": "2",
                                "text": "الحزن والانقباض يسيطران علي طوال الوقت ، وأعجز عن الفكاك منهما"
                            },
                            {
                                "value": "3",
                                "text": "أشعر بالحزن أو التعاسة لدرجة مؤلمة"
                            },
                            {
                                "value": "4",
                                "text": "أشعر بالحزن والتعاسة لدرجة لا تحتمل"
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p2",
                "elements": [


                    {
                        "type": "radiogroup",
                        "name": "q2",
                        "title": {
                            "ar": " التشاؤم من المستقبل:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": "لا أشعر بالقلق أو التشاؤم من المستقبل"
                            },
                            {
                                "value": "1",
                                "text": "أشعر بالتشاؤم من المستقبل"
                            },
                            {
                                "value": "2",
                                "text": "لا يوجد ما أتطلع إليه في المستقبل"
                            },
                            {
                                "value": "3",
                                "text": "لا أستطيع أبداً أن أتخلص من متاعبي"
                            },
                            {
                                "value": "4",
                                "text": "أشعر باليأس من المستقبل ، وأن الأمور لن تتحسن"
                            }
                        ]
                    },

                ]
            },
            {
                "name": "p3",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q3",
                        "title": {
                            "ar": "الاحساس بالفشل:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "لا أشعر بأني فاشل"
                                }
                            },
                            {
                                "value": "1",
                                "text": "أشعر أن نصيبي من الفشل أكثر من العاديين"
                            },
                            {
                                "value": "2",
                                "text": "أشعر أني لم أحقق شيئا له معنى أو أهمية"
                            },
                            {
                                "value": "3",
                                "text": "عندما أنظر إلى حياتي في السابق أجدها مليئة بالفشل"
                            },
                            {
                                "value": "4",
                                "text": "أشعر أني شخص فاشل تماماً"
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p4",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q4",
                        "title": {
                            "ar": "السخط و عدم الرضا:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {

                                    "ar": "لست ساخطاً"
                                }
                            },
                            {
                                "value": "1",
                                "text": {

                                    "ar": "أشعر بالملل أغلب الوقت"
                                }
                            },
                            {
                                "value": "2",
                                "text": {

                                    "ar": "لا أستمتع بالأشياء كما كنت من قبل"
                                }
                            },
                            {
                                "value": "3",
                                "text": {

                                    "ar": "لم أعد أجد شيئا يحقق لي المتعة أو الرضا"
                                }
                            },
                            {
                                "value": "4",
                                "text": {

                                    "ar": "إنني غير راض وأشعر بالملل من أي شئ"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p5",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q5",
                        "title": {
                            "ar": "الاحساس بالندم او الذنب:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {

                                    "ar": "لا يصيبني إحساس خاص بالندم أو الذنب على شيء"
                                }
                            },
                            {
                                "value": "1",
                                "text": {

                                    "ar": "أشعر بأنني سيء أو تافه أغلب الوقت"
                                }
                            },
                            {
                                "value": "2",
                                "text": {

                                    "ar": "يصيبني إحساس شديد بالندم والذنب"
                                }
                            },
                            {
                                "value": "3",
                                "text": {

                                    "ar": "أشعر بأنني سيء وتافه أغلب الأوقات تقريباً"
                                }
                            },
                            {
                                "value": "4",
                                "text": {

                                    "ar": "أشعر بأنني سيء وتافه للغاية"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p6",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q6",
                        "title": {

                            "ar": "توقع العقاب:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {

                                    "ar": "لا أشعر بأن هناك عقاباً يحل بي"
                                }
                            },
                            {
                                "value": "1",
                                "text": {

                                    "ar": "أشعر بأن شيئاً سيئاً سيحدث أو سيحل بي"
                                }
                            },
                            {
                                "value": "2",
                                "text": {

                                    "ar": " أشعر بأن عقاباً يقع علي بالفعل"
                                }
                            },
                            {
                                "value": "3",
                                "text": {

                                    "ar": "أستحق أن أعاقب"
                                }
                            },
                            {
                                "value": "4",
                                "text": {

                                    "ar": "أشعر برغبة في العقاب"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p7",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q7",
                        "title": {
                            "ar": "كراهية النفس:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {

                                    "ar": "لا أشعر بخيبة الأمل في نفسي"
                                }
                            },
                            {
                                "value": "1",
                                "text": {

                                    "ar": "يخيب أملي في نفسي"
                                }
                            },
                            {
                                "value": "2",
                                "text": {

                                    "ar": "لا أحب نفسي"
                                }
                            },
                            {
                                "value": "3",
                                "text": {

                                    "ar": "أشمئز من نفسي"
                                }
                            },
                            {
                                "value": "4",
                                "text": {

                                    "ar": "أكره نفسي"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p8",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q8",
                        "title": {
                            "ar": "ادانه الذات:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {

                                    "ar": "لا أشعر بأني أسوأ من أي شخص آخر"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أنتقد نفسي بسبب نقاط ضعفي أو أخطائي"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "ألوم نفسي لما أرتكب من أخطاء"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "أشمئز من نفسي"
                                }
                            },
                            {
                                "value": "4",
                                "text": {
                                    "ar": "ألوم نفسي على كل ما يحدث"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p9",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q9",
                        "title": {
                            "ar": "وجود افكار انتحارية:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "لا تنتابني أي أفكار للتخلص من نفسي"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "تراودني أفكار للتخلص من حياتي ولكن لا أنفذها"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "أفضل لي أن أموت"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "أفضل لعائلتي أن أموت"
                                }
                            },
                            {
                                "value": "4",
                                "text": {
                                    "ar": "لدي خطط أكيدة للانتحار"
                                }
                            },
                            {
                                "value": "5",
                                "text": {
                                    "ar": "سأقتل نفسي في أي فرصة متاحة"
                                }
                            }
                        ]
                    },
                ]
            },
            {
                "name": "p10",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q10",
                        "title": {
                            "ar": "البكاء:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "لا أبكي أكثر من المعتاد"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أبكي أكثر من المعتاد"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "أبكي هذه الأيام طوال الوقت ولا أستطيع أن أتوقف عن ذلك"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "كنت قادراً على البكاء ولكنني أعجز الآن عن البكاء حتى لو أردت ذلك"
                                }
                            }
                        ]
                    }
                ]
            }

            ,
            {
                "name": "p11",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q11",
                        "title": {
                            "ar": "الاستثارة و عدم الاستقرار النفسى:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "لست منزعجاً هذه الأيام عن أي وقت مضى"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أنزعج هذه الأيام بسهولة"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "أشعر بالانزعاج والاستثارة دوماً"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "لا تثيرني ولا تغضبني الآن حتى الأشياء التي كانت تسبب ذلك سابقاً"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p12",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q12",
                        "title": {
                            "ar": "الانسحاب الاجتماعى:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "لم أفقد اهتمامي بالناس"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أنا الآن أقل اهتماماً بالآخرين عن السابق"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "فقدت معظم اهتمامي وإحساسي بوجود الآخرين"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "فقدت تماما اهتمامي بالآخرين"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p13",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q13",
                        "title": {
                            "ar": "التردد و عدم الحسم:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "قدرتي على اتخاذ القرارات بنفس الكفاءة التي كانت عليها من قبل"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أؤجل اتخاذ القرارات أكثر من قبل"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "أعاني من صعوبة واضحة في اتخاذ القرارات"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "أعجز تماما عن اتخاذ أي قرار بالمرة"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p14",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q14",
                        "title": {
                            "ar": "تغير صورة الجسم و الشكل:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "لاأشعر بأن شكلي أسوأ من قبل"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أشعر بالقلق من أني أبدو أكبر سناً وأقل جاذبية"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "أشعر بوجود تغيرات دائمة في شكلي تجعلني أبدو منفراً ( منفرة ) وأقل جاذبية"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "أشعر بأن شكلي قبيح ( قبيحة ) ومنفر ( منفرة)"
                                }
                            }
                        ]
                    },
                ]
            },
            {
                "name": "p15",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q15",
                        "title": {
                            "ar": "هبوط مستوى الكفاءة و العمل:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "أعمل بنفس الكفاءة كما كنت من قبل"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أحتاج إلى مجهود خاص لكي أبدأ شيئاً"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "لا أعمل بنفس الكفاءة التي كنت أعمل بها من قبل"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "أعجز عن أداء أي عمل على الإطلاق"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p16",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q16",
                        "title": {
                            "ar": "اضطرابات النوم:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "أنام جيداً كما تعودت"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أستيقظ مرهقاً في الصباح أكثر من قبل"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "أستيقظ من 2-3 ساعات أبكر من ذي قبل ، وأعجز عن استئناف نومي"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "أستيقظ مبكراً جداً ولا أنام بعدها حتى إن أردت"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p17",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q17",
                        "title": {
                            "ar": "التعب و القابلية للارهاق:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "لا أتعب بسرعة أكثر من المعتاد"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أشعر بالتعب والإرهاق أسرع من ذي قبل"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "أشعر بالتعب حتى لو لم أعمل شيئا"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "أشعر بالتعب الشديد لدرجة العجز عن عمل أي شيء"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p18",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q18",
                        "title": {
                            "ar": "فقدان الشهية:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "شهيتي للطعام ليست أسوأ من قبل"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "شهيتي ليست جيدة كالسابق"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "شهيتي أسوأ بكثير من السابق"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "لا أشعر برغبة في الأكل بالمرة"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p19",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q19",
                        "title": {
                            "ar": "تناقص الوزن:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "وزني تقريباً ثابت"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "فقدت أكثر من 3 كغ من وزني"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "فقدت أكثر من 6 كغ من وزني"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "فقدت أكثر من 10 كغ من وزني"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p20",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q20",
                        "title": {
                            "ar": "تأثر الطاقة الجنسية:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "لم ألاحظ أي تغيرات حديثة في رغبتي الجنسية"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أصبحت أقل اهتماماً بالجنس من قبل"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "قلت رغبتي الجنسية بشكل ملحوظ"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "فقدت تماما رغبتي الجنسية"
                                }
                            }
                        ]
                    }
                ]
            },
            {
                "name": "p21",
                "elements": [
                    {
                        "type": "radiogroup",
                        "name": "q21",
                        "title": {
                            "ar": "الانشغال عن الصحة:"
                        },
                        "isRequired": true,
                        "choices": [
                            {
                                "value": "0",
                                "text": {
                                    "ar": "لست مشغولاً على صحتي أكثر من السابق"
                                }
                            },
                            {
                                "value": "1",
                                "text": {
                                    "ar": "أصبحت مشغولاً على صحتي بسبب الأوجاع والأمراض ، أو اضطرابات المعدة والإمساك"
                                }
                            },
                            {
                                "value": "2",
                                "text": {
                                    "ar": "أنشغل بالتغيرات الصحية التي تحدث لي لدرجة أني لا أستطيع أن أفكر في أي سيء آخر"
                                }
                            },
                            {
                                "value": "3",
                                "text": {
                                    "ar": "أصبحت مشغولاً تماما بأموري الصحية"
                                }
                            },

                        ]
                    }
                ]
            }

        ],
        "calculatedValues": [
            {
                "name": "total",
                "expression": "{q1}+{q2}+{q3}+{q4}+{q5}+{q6}+{q7}+{q8}+{q9}+{q10}+{q11}+{q12}+{q13}+{q14}+{q15}+{q16}+{q17}+{q18}+{q19}+{q20}+{q21}",
                "includeIntoResult": true
            },
            {
                "name": "res",
                "expression": "getResult({total}",
                "includeIntoResult": true
            }
        ],
        "cookieName": "beek_test",
        "showPrevButton": false,
        "showQuestionNumbers": "off",
        "showProgressBar": "bottom",
        "goNextPageAutomatic": true,
        "questionStartIndex": "0"
    }
    function map(array, callback) {
        var result = [],
            i;

        for (i = 0; i < array.length; ++i) {
            result.push(callback(array[i]));
        }

        return result;
    }
    function sendDataToServer(survey) {

        $.ajax({
            url: "https://script.google.com/macros/s/AKfycbx96jtJz41M7ZQbp8tt3mneuDIyviYmM-lbFH-VnCtajbfyVfI/exec",
            type: "post",
            data: survey.data,
            success: function (response) {
                console.log("Respond was: ", response);
            },
            error: function (request, status, error) {
                console.log("There was an error: ", request.responseText);
            }
        });
    }

    var survey = new Survey.Model(surveyJSON);
    var storageName = "survey_beek_history";
    function saveSurveyData(survey) {
        var data = survey.data;
        data.pageNo = survey.currentPageNo;
        window
            .localStorage
            .setItem(storageName, JSON.stringify(data));
    }
    survey
        .onPartialSend
        .add(function (survey) {
            saveSurveyData(survey);
        });
    survey
        .onComplete
        .add(function (survey, options) {
            saveSurveyData(survey);
        });

    survey.sendResultOnPageNext = true;
    var prevData = window
        .localStorage
        .getItem(storageName) || null;
    if (prevData) {
        var data = JSON.parse(prevData);
        survey.data = data;
        if (data.pageNo) {
            survey.currentPageNo = data.pageNo;
        }
    }

    $("#surveyContainer").Survey({
        model: survey,
        onComplete: sendDataToServer
    });

</script>

</html>