{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>New Comers</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://surveyjs.azureedge.net/1.1.24/survey.jquery.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <!-- <link href="https://surveyjs.azureedge.net/1.1.24/modern.css" type="text/css" rel="stylesheet" /> -->


</head>

<body dir="rtl">
    {% csrf_token %}
    <style>
        .sv-selectbase__label {
            white-space: unset;
        }

        .sv-progress__text,
        .sv-footer__next-btn {
            display: none;
        }

        #logo_img img {
            margin: 0 auto;
            width: 150px;
            padding: 10px;

        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="logo_img">
                    <img src="{% static 'img/logo.png' %}" alt="" class="img-responsive">
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-8 col-md-offset-2" id="surveyContainer"></div>

    <script type="text/javascript" src="./index.js"></script>

</body>
<script>
    Survey.StylesManager.applyTheme("bootstrap");

    var surveyJSON =
    {
        "locale": "ar",
        "pages": [
            {
                "name": "page1",
                "elements": [
                    {
                        "type": "html",
                        "name": "Introduction",
                        "html": "<div>\n  <p dir=\"RTL\" style=\"margin: 0in -5.05pt 10pt 0in; text-align: justify; line-height: 115%; font-size: 15px; font-family: &quot;Calibri&quot;, &quot;sans-serif&quot;;\"><span style=\"font-size:21px;line-height:115%;\">من قلب كنيسة السيدة العذراء بجانكليس خرجت خدمة جديدة تحت اسم الرائي نسبة إلى شفيع الكنيسة القديس العظيم يوحنا الرائي .. ويخرج عن خدمة الرائي عددا من الخدمات منها :&nbsp;</span></p>\n<p dir=\"RTL\" style=\"margin: 0in -5.05pt 10pt 0in; text-align: justify; line-height: 115%; font-size: 15px; font-family: &quot;Calibri&quot;, &quot;sans-serif&quot;;\"><strong><span style=\"font-size:21px;line-height:115%;\">الجريدة الورقية (الرائي) :</span></strong><u><span style=\"font-size:21px;line-height:115%;\">&nbsp;\n      <br>&nbsp;\n    </span></u><span style=\"font-size:21px;line-height:115%;\">جريدة الرائي هي النبتة الأولى لخدمة الرائي وأولى مجالات الخدمة بها ، حيث تأسست الجريدة في فبراير لعام 2012 وتم صدور عددها الأول في يونيو من نفس العام، جريدة الرائي هي جريدة مسيحية ارثوذكسية ذات هوية مصرية .. بدأت الجريدة بهدف مبدئي وهو خدمة كنيسة \"السيدة العذراء والقديس يوحنا الحبيب بجانكليس\" وهي الكنيسة التي خرجت منها الجريدة ثم امتدت الخدمة والهدف لتتوسع الرائي في التوزيع حيث بدأت في ابريل /2018 في التوزيع خارج نطاق كنيسة السيدة العذراء بجانكليس وكانت أولى الكنائس التي تم التوزيع بها \"كنيسة القديسين بحي بشر\" وحاليا تتوسع الرائي في الانتشار الجغرافي تدريجيا لتشمل – بمعونة ربنا – كنائس الاسكندرية ورؤيتنا المستقبلية الانتشار &nbsp;بجريدة (تشمل الكرازة المرقسية داخل وخارج مصر) ، وتشمل الجريدة ( أخبار ، تقارير ، تحقيقات ، لقاءات صحفية ، اعلانات ، صفات متخصصة .. الخ) &nbsp;</span></p>\n<p dir=\"RTL\" style=\"margin: 0in -5.05pt 10pt 0in; text-align: justify; line-height: 115%; font-size: 15px; font-family: &quot;Calibri&quot;, &quot;sans-serif&quot;;\"><span style=\"font-size:21px;line-height:115%;\">\n    <br> <strong>صفحات الرائي على الفيسبوك<u>&nbsp;</u></strong></span></p>\n<p dir=\"RTL\" style=\"margin: 0in 0in 10pt; text-align: justify; line-height: 115%; font-size: 15px; font-family: &quot;Calibri&quot;, &quot;sans-serif&quot;;\"><strong><span style=\"font-size:21px;line-height:115%;\">جريدة الرائي - جناكليس لحظة بلحظة :&nbsp;</span></strong><strong><span dir=\"LTR\" style=\"font-size:21px;line-height:115%;\">\n      <br>&nbsp;\n    </span></strong><span style=\"font-size:21px;line-height:115%;\">للرائي صفحة على الفيس بوك بعنوان \"جريدة الرائي - جناكليس لحظة بلحظة\" وعدد المشتركين بها تجاوز 16000 مشارك بتاريخ (يناير/2020)، وتقوم الصفحة بنشر كافة أخبار كنيسة \"السيدة العذراء بجانكليس\"- على قدر المستطاع - وتنشر أيضاً تلخيص للعظات وغيرها من الأنشطة التي تتم على الصفحة، وتخدم الصفحة المهاجرين من شعب الكنيسة كما تخدم ايضا شعبنا الكنيسة.</span></p>\n<p dir=\"RTL\" style=\"margin: 0in 0in 10pt; text-align: justify; line-height: 115%; font-size: 15px; font-family: &quot;Calibri&quot;, &quot;sans-serif&quot;;\"><strong><span style=\"font-size:21px;line-height:115%;\">بوابة الرائي للأخبار الكنسية&nbsp;</span></strong><strong><span dir=\"LTR\" style=\"font-size:21px;line-height:115%;\">\n      <br>&nbsp;\n    </span></strong><span style=\"font-size:21px;line-height:115%;\">كما تم تأسيس صفحة للرائي تخدم أخبار الكنيسة القبطية الأرثوذكسية بصفة عامة وأخبار كنائس الأسكندرية بصفة خاصة (بما يتوافق مع التوزيع الحالي للجريدة) &amp; وقد حظت الصفحة على الانتشار الواسع في وقت قصير حيث وصل عدد المشتركين بها في مارس/2020 عدد 23000 مشترك ، ونهدف – بمعونة ربنا – لأن تكون الصفحة نافذة حية على أخبار الكنائس والخدمات ونقل الروح الجميلة بكل خدمة وبكل كنيسة&nbsp;</span><span dir=\"LTR\" style=\"font-size:21px;line-height:115%;\">.</span></p>\n<p dir=\"RTL\" style=\"margin: 0in -5.05pt 10pt 0in; text-align: justify; line-height: 115%; font-size: 15px; font-family: &quot;Calibri&quot;, &quot;sans-serif&quot;;\"><span style=\"font-size:21px;line-height:115%;\">\n    <br> <strong>قناة على الــ&nbsp;</strong></span><strong><span dir=\"LTR\" style=\"font-size:21px;line-height:115%;\">YouTube</span></strong><strong><span style=\"font-size:21px;line-height:115%;\">&nbsp;بعنوان&nbsp;</span></strong><strong><span dir=\"LTR\" style=\"font-size:21px;line-height:115%;\">(Elra2yTube)</span></strong><strong><span style=\"font-size:21px;line-height:115%;\">&nbsp;:</span></strong><span style=\"font-size:21px;line-height:115%;\">\n    <br>&nbsp; كما أسست الرائي أيضاً قناة على&nbsp;\n  </span><span dir=\"LTR\" style=\"font-size:21px;line-height:115%;\">YouTube</span><span style=\"font-size:21px;line-height:115%;\">&nbsp;بعنوان&nbsp;</span><span dir=\"LTR\" style=\"font-size:21px;line-height:115%;\">Elra2yTube</span><span style=\"font-size:21px;line-height:115%;\">&nbsp;حيث تهدف هذه القناة الى توثيق الأحداث صوت وصورة كما تساعد في نقل الأحداث والعظات أيضاً صوت وصورة، وبدأت الرائي مؤخراً في اضافة نشاط التقارير المصورة واللقاءات التلفزيونية والتي سيتم التوسع بها الفترة القادمة بنعمة الله.&nbsp;</span></p>\n<p dir=\"RTL\" style=\"margin: 0in -5.05pt 10pt 0in; text-align: justify; line-height: 115%; font-size: 15px; font-family: &quot;Calibri&quot;, &quot;sans-serif&quot;;\"><strong><span style=\"font-size:21px;line-height:115%;\">الرائي والتدريب والتطوير: \n      <br>&nbsp;\n    </span></strong><span style=\"font-size:21px;line-height:115%;\">انطلاقا من مسئولية الرائي تجاه خدامها وقرائها حرصت الرائي في إقامة العديد من الورش المتخصصة في الكتابة وأبرزها ورشة (عشاق القلم) وهي ما ساهم بصورة كبيرة في تنشيط وتقوية المجال الأدبي بالكنيسة. \n    <br> كما أقامت الرائي عدة ورش وتدريبات متخصصة في الصحافة والمهارات \n    <br>&nbsp;ومع ادارك الرائي لأهمية التدريب قامت الرائي في مايو/2019 بتأسيس خدمة خاصة لـ \"التدريب والتطوير\" تحت شعار \"الرائي بتدي كورسات\" وتم عمل عدة كورسات أبرزها (الفوتوشوب –&nbsp;\n  </span><span dir=\"LTR\" style=\"font-size:21px;line-height:115%;\">Selling Skills</span><span style=\"font-size:21px;line-height:115%;\">&nbsp;–&nbsp;</span><span dir=\"LTR\" style=\"font-size:21px;line-height:115%;\">will to win</span><span style=\"font-size:21px;line-height:115%;\">&nbsp;)</span></p>\n<p dir=\"RTL\" style=\"margin: 0in -5.05pt 10pt 0in; text-align: justify; line-height: 115%; font-size: 15px; font-family: &quot;Calibri&quot;, &quot;sans-serif&quot;;\"><span style=\"font-size:21px;line-height:115%;\">&nbsp;\n    <br> <strong>ملتقى الكُتاب والمراسلين :</strong><u>&nbsp;\n      <br>&nbsp;\n    </u>ترعى الجريدة ملتقى الكتاب والمراسلين ، حيث أقيم أول ملتقى للكُتاب في 5/9/2014 وبه تم تكريم عدد من الكتاب المشاركين بالكتابة بالرائي ، وأقيم الملتقى الثاني في 22/7/2018 وتم تكريم الكُتاب والمراسلين ، وسيتم بنعمة الله عمل ورش متخصصة يراعاها هذا الملتقى على أن تخرج تلك الورش بتوصيات محددة تجاه محتوى الجريدة والورقية والصفحات المتخصصة بها. &nbsp;</span></p>\n</div>"




                    }
                ],
                // "title": "New Comers"
            },
            {
                "name": "page2",
                "elements": [
                    {
                        "type": "panel",
                        "name": "panel1",
                        "elements": [
                            {
                                "type": "text",
                                "name": "q1",
                                "title": {
                                    "ar": "الاسم"
                                },
                                "isRequired": true
                            },
                            {
                                "type": "text",
                                "name": "q2",
                                "title": {
                                    "ar": "الموبايل"
                                },
                                "isRequired": true,
                                "validators": [
                                    {
                                        "type": "numeric",
                                        "text": {
                                            "ar": "يجب ان يكون رقم الموبايل يتكون من 11 رقم "
                                        }
                                    }
                                ],
                                "inputType": "number",
                                "maxLength": 11
                            },
                            {
                                "type": "text",
                                "name": "q3",
                                "title": {
                                    "ar": "البريد الالكترونى"
                                },
                                "inputType": "email"
                            },
                            {
                                "type": "text",
                                "name": "q4",
                                "isRequired": true,
                                "inputType": "date",

                                "title": {
                                    "ar": "تاريخ الميلاد"
                                },
                            },
                            {
                                "type": "dropdown",
                                "name": "q5",
                                "title": {
                                    "ar": "النوع"
                                },
                                "isRequired": true,
                                "choices": [
                                    {
                                        "value": "item1",
                                        "text": {
                                            "ar": "ذكر"
                                        }
                                    },
                                    {
                                        "value": "item2",
                                        "text": {
                                            "ar": "انثى"
                                        }
                                    }
                                ]
                            },
                            {
                                "type": "text",
                                "name": "q6",
                                "title": {
                                    "ar": "الكلية او الوظيفة"
                                }
                            }
                        ]
                    },
                    {
                        "type": "dropdown",
                        "name": "q7",
                        "title": {
                            "ar": "السنة"
                        },
                        "choices": [
                            {
                                "value": "اولى",
                                "text": {
                                    "ar": "اولى"
                                }
                            },
                            {
                                "value": "ثانية",
                                "text": {
                                    "ar": "ثانية"
                                }
                            },
                            {
                                "value": "ثالثة",
                                "text": {
                                    "ar": "ثالثة"
                                }
                            },
                            {
                                "value": "رابعة",
                                "text": {
                                    "ar": "رابعة"
                                }
                            },
                            {
                                "value": "خامسة",
                                "text": {
                                    "ar": "خامسة"
                                }
                            },
                            {
                                "value": "خريج",
                                "text": {
                                    "ar": "خريج"
                                }
                            }
                        ]
                    },


                    {
                        "type": "text",
                        "name": "q8"
                        ,
                        "title": {
                            "ar": "العنوان او المحافظة"
                        },
                    },
                    {
                        "type": "text",
                        "name": "q9",
                        "title": {
                            "ar": "اب الاعتراف"
                        },
                        "isRequired": true
                    }
                ],
                "title": {
                    "ar": "البيانات الشخصية"
                }
            },
            {
                "name": "page3",
                "elements": [
                    {
                        "type": "text",
                        "name": "تحديد الرغبات"
                    }
                ],
                "title": {
                    "ar": "تحديد الرغبات"
                }
            },
            {
                "name": "page4",
                "elements": [
                    {
                        "type": "text",
                        "name": "ميعاد المقابلة"
                    }
                ],
                "title": {
                    "ar": "ميعاد المقابلة"
                }
            }
        ]
    }

    function sendDataToServer(survey) {
        //send Ajax request to your web server.
        alert("The results are:" + JSON.stringify(survey.data));
    }

    var survey = new Survey.Model(surveyJSON);
    $("#surveyContainer").Survey({
        model: survey,
        onComplete: sendDataToServer
    });

</script>

</html>