@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\000035}}
html {
  scroll-behavior: smooth; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\000039}}
body {
  font-family: 'Cairo', sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000313}}
#preloader {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000324}}
#status {
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  z-index: 200; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000338}}
#main-nav {
  background-color: #F41625 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000345}}
#social-icons a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 15px 5px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000351}}
  #social-icons a:hover {
    opacity: 0.5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000360}}
.nav-item .active {
  background-color: #343A40 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000364}}
.nav-item .nav-link {
  padding: 15px 15px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000369}}
.nav-item a {
  color: white !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  padding: 15px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000375}}
  .nav-item a:hover {
    background-color: #343A40 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000383}}
.card-hover {
  color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000386}}
  .card-hover:hover {
    color: white;
    background-color: #F41625 !important; }

@media only screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\0000395}}
  .header-sticky {
    position: sticky;
    top: 0;
    z-index: 60; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003101}}
  .nav-link {
    margin-top: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003107}}
  .main-news-card .card-img-overlay p {
    font-size: 14px !important; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003114}}
.navbar-toggler {
  background-color: #ffffc3;
  opacity: 0.5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003120}}
.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003127}}
.main-news-card .card-img-overlay {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.73), rgba(134, 134, 134, 0.2)); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003128}}
  .main-news-card .card-img-overlay a {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003132}}
  .main-news-card .card-img-overlay p {
    position: absolute !important;
    bottom: 15px;
    right: 15px;
    font-size: 20px;
    color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003142}}
  .main-news-card .card-img-overlay:hover {
    opacity: 0.8; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003150}}
.card .card-label {
  position: absolute;
  top: -10px;
  right: 3px;
  height: 50px;
  background-color: #fee;
  z-index: 30;
  padding-left: 10px;
  transform: skew(-10deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003162}}
  .card .card-label img {
    position: relative;
    top: -15px;
    right: 0;
    float: right;
    margin-left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003170}}
  .card .card-label span {
    font-size: 1.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003176}}
.card-box {
  border-right: 3px solid red; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003180}}
.card-link {
  color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003185}}
#main-article {
  background-color: #fee; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003188}}
  #main-article a {
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003193}}
#main-footer {
  font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003198}}
#article .card-header:first-child {
  background-color: rgba(219, 76, 32, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003203}}
.article-text {
  direction: rtl; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003207}}
  .article-text p {
    font-size: 16pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003217}}
#button {
  display: inline-block;
  background-color: #F41625;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 38px;
  right: 17px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 40; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003234}}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003244}}
#button:hover {
  cursor: pointer;
  background-color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003249}}
#button:active {
  background-color: #555; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey\/raey\/static\/scss\/styles\.scss}line{font-family:\00003253}}
#button.show {
  opacity: 1;
  visibility: visible; }

/*# sourceMappingURL=styles.css.map */
