// COLORS
$primary_color:#F41625;
$secondary_color:#fee;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;

}

#status {
    background-image: url('../img/preloader.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 200;
}

#main-nav {
    background-color: $primary_color !important;

}

#social-icons {

    a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        padding: 15px 5px !important;

        &:hover {
            opacity: 0.5;
        }
    }

}


.nav-item {
    .active {
        background-color: #343A40 !important;
    }

    .nav-link {
        padding: 15px 15px !important;

    }

    a {
        color: white !important;
        font-weight: 700 !important;
        font-size: 18px !important;
        padding: 15px 0;

        &:hover {
            background-color: #343A40 !important;
        }

    }

}

.card-hover {
    color: black;

    &:hover {
        color: white;
        background-color: $primary_color !important;
    }
}



@media only screen and (max-width: 768px) {
    .header-sticky {
        position: sticky;
        top: 0;
        z-index: 60;
    }

    .nav-link {
        margin-top: 5px;
    }

    .main-news-card {
        .card-img-overlay {
            p {
                font-size: 14px !important;
            }
        }
    }
}

.navbar-toggler {
    background-color: #ffffc3;
    opacity: 0.5;
}

.navbar-light {
    .navbar-toggler {
        color: rgba(255, 255, 255, .5);
        border-color: rgba(255, 255, 255, .1);
    }
}

.main-news-card {
    .card-img-overlay {
        a {
            text-decoration: none;
        }

        p {
            position: absolute !important;
            bottom: 15px;
            right: 15px;
            font-size: 20px;
            color: white;
        }

        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.73), rgba(134, 134, 134, 0.2));

        &:hover {
            opacity: 0.8;
        }
    }
}

.card {

    .card-label {

        position: absolute;
        top: -10px;
        right: 3px;
        height: 50px;
        background-color: $secondary_color;
        z-index: 30;
        padding-left: 10px;
        transform: skew(-10deg);


        img {
            position: relative;
            top: -15px;
            right: 0;
            float: right;
            margin-left: 5px;
        }

        span {
            font-size: 1.5rem;
        }
    }
}

.card-box {
    border-right: 3px solid red;
}

.card-link {
    color: black;
}


#main-article {
    background-color: $secondary_color;

    a {
        text-decoration: none;
    }
}

#main-footer {
    font-size: 14px;
}

#article {
    .card-header:first-child {
        background-color: rgba(219, 76, 32, 0.1);
    }
}

.article-text {

    direction: rtl;

    p {
        font-size: 16pt;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;

    }

}



#button {
    display: inline-block;
    background-color: $primary_color;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 38px;
    right: 17px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 40;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}