{% extends 'base.html' %}
{% load static %}

{% load cropping %}

{% block extra_assets %}
<script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=5d0163484351e9001265060b&product=sticky-share-buttons&cms=website'
    async='async'></script>
{% endblock extra_assets %}

{% block title %}
    {{article.title}} - {% include 'snippets/writing_type.html' with object=article %}
{% endblock title %}


{% block main-article %}

{% endblock main-article %}


{% block content %}
<div id="article">
    <div class="card rounded-0 mx-md-4">
        <div class="card-header shadow">
            <h1 class="h5">{{article.title}}</h1>
        </div>
        <div class="card-header d-flex flex-row-reverse justify-content-between">
            <span>
                {% include 'snippets/writing_type.html' with object=article %}


                {% if article.category.show_author_image %}
                    {% for author in article.authors.all %}
                        {% if author.image %}
                            <img src="{% cropped_thumbnail author 'cropping' %}" alt="" height="50px;" class="rounded">
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </span>

            <span class="row">
               
                <span class="order-0">{{article.created_at|date:'Y-m-d'}}</span>                
            </span>

        </div>
        <div class="card-body">
            <div class="pb-3">
                {% if article.image.url != None %}
                <img src="{% cropped_thumbnail article 'cropping' %}" alt="{{article.title}}"
                    class="img-fluid mx-auto d-block" style="width:70%;">
                {% endif %}
            </div>
            <div class="card-text text-justify article-text">{{article.content | safe}}</div>
        </div>
    </div>
</div>
{% endblock content %}