{% extends 'base.html' %}


{% block content %}
    
    <ul>
        {% for article in object_list %}
        <li><a href="{% url 'articles:article_detail' article.pk %}">{{article.title}}</a></li>
        {% endfor %}
    </ul>
        
{% endblock content %}
    