{%load extra_tags %}
{% load cropping %}
{% load el_pagination_tags %}
{% load humanize %}
{% load l10n %}

{% paginate articles %}
    {% for group in articles|group_by:2 %}
    <div class="row mb-2 d-flex flex-row-reverse mr-auto">
        {% for q in group %}
        <div class="col-sm-12 col-md-6">
            <a href="{% url 'articles:article_detail' q.pk %}" class="text-decoration-none">
                <div class="card flex-md-row mb-4 shadow-sm">
                    <div class="card-body d-flex flex-column card-hover">
                        <h1 class="h5 mb-0">
                            <p class="card-text">{{q.title}}</p>
                        </h1>
                        <!-- <div class="mb-1 d-flex flex-row-reverse"><span>{{q.pub_date|date:'d' |localize}}</span>
                            <span>{{q.pub_date|date:'F Y'|localize}}</span></div> -->
                    </div>
                    <img class="card-img-right image-fluid" height="250" src="{% cropped_thumbnail q 'cropping' %}"
                        alt="{{q.title}}">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
<div class="m-5 p-5">{% show_more %}</div>