{% extends 'base.html' %}
{%load extra_tags %}
{% load el_pagination_tags %}
{% load cropping %}


{% block title %}
    {{category.name}}
{% endblock title %}


{% block extra_assets %}

{% endblock extra_assets %}


{% block content %}
<div class="endless_page_template">
    {% include page_template %}
</div>
{% endblock content %}


{% block js %}
{{ block.super }}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
<script>$.endlessPaginate({ paginateOnScroll: true });</script>
{% endblock %}