@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\000031}}
body {
  font-family: 'Cairo', sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\000037}}
.jumbotron {
  background-color: #332b1703 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\0000311}}
#main-nav {
  background-color: #ee1a23 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\0000321}}
.nav-item .nav-link {
  color: white;
  font-weight: bold;
  font-size: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\0000329}}
.navbar-toggler {
  background-color: #ffffc3;
  opacity: 0.5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\0000335}}
.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\0000343}}
.main-news-card .card-img-overlay p {
  position: absolute !important;
  bottom: 15px;
  right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\0000354}}
.card .card-label {
  position: absolute;
  top: -10px;
  right: 0;
  height: 50px;
  width: 150px;
  background-color: red;
  z-index: 9999; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\0000365}}
  .card .card-label img {
    position: relative;
    top: -15px;
    right: 0;
    float: right;
    margin-left: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\0000373}}
#main-article .row .card {
  background-color: #fee; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Lab\/Desktop\/raey_theme\/scss\/styles\.scss}line{font-family:\0000380}}
#main-footer {
  font-size: 14px; }

/*# sourceMappingURL=styles.css.map */
