{% extends 'base.html' %}
{% load static %}
{% load cropping %}

{% block main_news %}

<div class="col-sm-12 col-md-6 order-1">
    {% for n in news %}
        {% if forloop.first %}
        <div class="row pb-3">
            {% endif %}
            <div class="col-6">
                <a href="{% url 'articles:article_detail' n.pk %}">
                    <div class="card shadow text-black">
                        <img class="card-img img-fluid" src="{% cropped_thumbnail n 'cropping' %}" alt="{{n.title}}" style="max-height:205px;">
                        <div class="card-img-overlay">
                            <p class="card-text font-weight-bolder shadow">{{n.title}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% if forloop.last %}
    </div>
</div>
<div class="col-sm-12 col-md-6 order-0">
    <div class="card shadow text-black">
        <a href="{% url 'articles:article_detail' m.pk %}">
            <img class="card-img img-fluid" src="{% cropped_thumbnail m 'cropping' %}" alt="Card image">
            <div class="card-img-overlay">
                <p class="card-text font-weight-bolder">{{m.title}}</p>
            </div>
        </a>
    </div>
</div>
{% endif %}

{% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row">
        {% endif %}

        {% endfor %}
        {% endblock main_news %}


        {% block content %}

        {% if reports %}
        <div class="row">
            <div class="col-sm-12 order-1 card shadow">
                <div class="card-label shadow-lg rounded">
                    <img src="{% static 'img/logo.png' %}" alt="" width="70">
                    <span class="text-black">تقارير </span>
                </div>
                <div class="card-body mt-5">
                    <div class="row">

                        <div class="owl-carousel owl-theme">
                            {% for q in reports %}
                            <div class="item">

                                <a href="{% url 'articles:article_detail' q.pk %}" class="card-link">

                                    <div class="card">
                                        <img class="card-img-top img-fluid" src="{% cropped_thumbnail q 'cropping' %}" alt="{{q.title}}"
                                            style="max-height:150px;">
                                        <div class="card-body card-hover">
                                            <p class="card-text">{{q.title}}</p>

                                        </div>
                                    </div>
                                </a>

                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endif %}

    {% if investigations %}
    <div class="row my-5">
        <div class="col-sm-12 order-1 card shadow">
            <div class="card-label shadow-lg rounded">
                <img src="{% static 'img/logo.png' %}" alt="" width="70">
                <span class="text-black">تحقيقات </span>
            </div>
            <div class="card-body mt-5">
                <div class="row">

                    <div class="owl-carousel owl-theme">
                        {% for q in investigations %}
                        <div class="item">

                            <a href="{% url 'articles:article_detail' q.pk %}" class="card-link">

                                <div class="card">
                                    <img class="card-img-top img-fluid" src="{% cropped_thumbnail q 'cropping' %}" alt="{{q.title}}"
                                        style="max-height:150px;">
                                    <div class="card-body card-hover">
                                        <p class="card-text">{{q.title}}</p>

                                    </div>
                                </div>
                            </a>

                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if spirtuals %}
    <div class="row my-5">
        <div class="col-sm-12 order-1 card shadow">
            <div class="card-label shadow-lg rounded">
                <img src="{% static 'img/logo.png' %}" alt="" width="70">
                <span class="text-black">روحيات </span>
            </div>
            <div class="card-body mt-5">
                <div class="row">
                    <div class="owl-carousel owl-theme">
                        {% for q in spirtuals %}
                        <div class="item" s>

                            <a href="{% url 'articles:article_detail' q.pk %}" class="card-link">

                                <div class="card">
                                    <img class="card-img-top img-fluid" src="{% cropped_thumbnail q 'cropping' %}" alt="{{q.title}}">
                                    <div class="card-body card-hover">
                                        <p class="card-text">{{q.title}}</p>

                                    </div>
                                </div>
                            </a>

                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if articles %}
    <div class="row my-5">
        <div class="col-sm-12 order-1 card shadow">
            <div class="card-label shadow-lg rounded">
                <img src="{% static 'img/logo.png' %}" alt="" width="70">
                <span class="text-black">مقالات </span>
            </div>
            <div class="card-body mt-5">
                <div class="row">

                    <div class="owl-carousel owl-theme">
                        {% for q in articles %}
                        <div class="item">

                            <a href="{% url 'articles:article_detail' q.pk %}" class="card-link">

                                <div class="card">
                                    <img class="card-img-top img-fluid" src="{% cropped_thumbnail q 'cropping' %}" alt="{{q.title}}"
                                        style="max-height:150px;">
                                    <div class="card-body card-hover">
                                        <p class="card-text">{{q.title}}</p>

                                    </div>
                                </div>
                            </a>

                        </div>

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% endblock content %}

    {% block article %}

    {% if main_article %}
    <div class="card shadow" id="main-article">
        <a href="{% url 'articles:article_detail' main_article.pk %}">
            {% if author_article.image.url != None %}
            <img src="{% cropped_thumbnail author_article 'cropping' %}" alt="" width="50%" class="d-block mx-auto">
            {% endif %}
            <p class="h5 text-center "> : {{author_article.name}} يكتب </h4>
            <p class="h4 text-center"> {{main_article.title}} </p>

        </a>


    </div>
    {% endif %}

   
    <div class="col-12 p-4">
        <a href="{{MEDIA_URL}} {{main_article.pdf_file}}">
            <img src="{% static 'img/download_pdf.png' %}" alt="" class="img-fluid rounded">
        </a>
    </div>
    

    {% if reportage %}
    <div class="row p-md-4 mb-5">
        <div class="col-sm-12 card shadow">
            <div class="card-label rounded">
                <img src="{% static 'img/logo.png' %}" alt="" width="70">
                <span class="text-black">حوار </span>
            </div>
            <div class="card-body mt-5">
                <div class="row">

                    <div class="col-12 mb-2">

                        <a href="{% url 'articles:article_detail' reportage.pk %}" class="card-link">

                            <div class="card">
                                <img class="card-img-top" src="
                                                {% if reportage.image.url != None %}
                                                    {% cropped_thumbnail reportage 'cropping' %}
                                                {% endif %}
                                                    " alt="{{reportage.title}}" style="max-height:150px;">
                                <div class="card-body card-hover">
                                    <p class="card-text">{{reportage.title}}</p>

                                </div>
                            </div>
                        </a>

                    </div>

                </div>


            </div>
        </div>

    </div>
    {% endif %}

    
    <div class="col-sm-12 mx-auto p-4 d-none d-md-block">
        <div class="fb-page" data-href="https://www.facebook.com/elra2ynews/" data-tabs="timeline" data-width="" data-height=""
            data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/elra2ynews/" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/elra2ynews/">‎بوابة الرائي للاخبار الكنسية‎</a></blockquote>
        </div>
    </div>
    

    {% endblock article %}